*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

BODY{
    height: 100vh;
    background:linear-gradient(#292828,#130f0f);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    color: #Ffff;
}

.parent{
    background-color: hwb(0 33% 65% / 0) ;
    border: #fff solid 5px;
    border-radius: 30px;
    width: 80%;
    height: 70%;
    overflow: hidden;
}




 /* header section */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    
}

h1{
    transform: translateX(20px);
    letter-spacing: 2px;
    
}
ul li{
    display: inline-block;
    margin: 20px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    transition-duration: 0.4s;
}

ul li a:hover{
    color: red;
}


/* content section */


article{
    transform: translateY(90px);
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.content .text{
    margin: 20px;
}

h2{
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 10px;
}

p{
    font-weight: 200;
    font-size: 1.3rem;
 

}

span{
    letter-spacing: 2px;
    animation-name: x;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes x{
    to{
        color: red;
    }
}


img{
    width: 500px;
}


body::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: red;
    position: absolute;
    clip-path: circle(50% at 100% 90%) ;
    z-index: -1;
}



/* media qurey*/
@media  screen and (max-width:1020px){
    .content ,.header{
        
        flex-direction: column;
    }
    img{
        width: 200px;
    }
    article{
        transform: translate(0,0);
    }
    body::after{
        clip-path: circle(50% at bottom);
    }
}

@media  screen and (max-width:640px) {
    .parent{
        width: 90%;
    height: 80%;
    }
    h1{
        transform: translate(0,0);
    }
    ul li{
        
        margin: 5px;
    }
    
}


footer{
    background-color: black;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}